<input [(ngModel)]="searchStr" hidden>
<link rel="stylesheet" href="b126000.component.css">
<div class="container" >
    <table class="name">
            <tr *ngFor="let gost of gosts |search:searchStr" >
            <p (mousemove)= "getTypeGOSTS(gost)"> <strong>ГОСТ</strong> {{gost.GOST}} <br> <strong>ТИП</strong> {{gost.TYPE}}</p>
            <h4 (mousemove)= "getTypeGOSTS(gost)">Настоящий стандарт распространяется на шариковые радиально-упорные однорядные подшипники с разъемным наружным или внутренним кольцом, предназначенные для восприятия комбинированных (радиальных и осевых) нагрузок переменного направления.</h4>
            <img (mousemove)= "getTypeGOSTS(gost)" src="assets/images/ch126000.png"/>
        </table>
    <div class="bl-scroll" style="float: right;">
  <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">НОМЕР</th>
                <th scope="col">d мм</th>
                <th scope="col">D мм</th>
                <th scope="col">B мм</th>
                <th scope="col">r мм</th>
                <th scope="col">a мм</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let TypeGost of TypeGosts">
                <td (click)= "insertFile(TypeGost)">{{TypeGost.NUMBER}}</td>
                <td (click)= "insertFile(TypeGost)">{{TypeGost.d2}}</td>
                <td (click)= "insertFile(TypeGost)" >{{TypeGost.d}}</td>
                <td (click)= "insertFile(TypeGost)">{{TypeGost.Dmax}}</td>
                <td (click)= "insertFile(TypeGost)">{{TypeGost.r}}</td>
                <td (click)= "insertFile(TypeGost)">{{TypeGost.Dmax2}}</td>
                
                <td (click)= "insertFile(TypeGost)"hidden>{{TypeGost.H}}</td>
                <td (click)= "insertFile(TypeGost)" hidden>{{TypeGost.a}}</td>
                <td (click)= "insertFile(TypeGost)"hidden>{{TypeGost.f}}</td>        
            </tr>
        </tbody>
    </table>
</div>
</div>