.container {
    width: 70%;
    margin-top: 30px;
    margin-left: 350px;
    }
    tr th {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    }
    
    table {
        background-color: rgba(255, 255, 255, 0.970);
        font-family: 'Montserrat', sans-serif;
        background-attachment: fixed;
        margin-left: 30px;
         
    }
     td {
         color: rgb(0, 0, 0);
         font-family: 'Montserrat', sans-serif;
         
     }

    td:hover {
        background:#7ef9ff;
      }
    
    .bl-scroll {  
         width: 65%;
         max-height: 600px; 
         display: inline-block;    
         overflow-x: hidden;   
        }
    
    input {
            font-family: 'Montserrat', sans-serif;
        }
p {
    font-size: 24px;
}
.name {
    margin-top: 0px;
}

img {
    width: 20%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.970);
}
h4 {
    font-size: 18px;
}

